.wrapper {
 width: 700px;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

*{
font-family: Verdana, Geneva, sans-serif;
}

h1 {
text-align: center;

}


form {
position: relative;
left: 40%;

}

#header{
position: relative;
width: 70%;
left: 23%;


}